<ul class="categories">
{{#each model as |category|}}
  <li>
  {{#link-to 'inbox.category' category.id}}{{category.name}} - ({{if (eq messages.currentCategory category.id) messages.unreadCount category.unread}}) {{/link-to}}
  </li>
{{/each}}
</ul>

{{outlet}}
